<header>
    <div class="header-top">
        <div class="container">
            <div class="nav-right">
                <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
            </div>
        </div>
    </div>
    <div class="header-bottom">

    </div>
</header>